table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 5px;
}

thead td {
    text-align: center;
    font-weight: bold;
}

tbody button {
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

.btnEdit {
    color: white;
    background-color: green;
}

.btnRemove {
    color: white;
    background-color: #f44336;
}